.nodeDialog {
	padding: 2rem;
	text-align: center;
	background: var(--color-background);
	border-radius: 5px;
}

.formTitle {
	margin-bottom: var(--spacing-medium);
}

.formLabel {
	display: flex;
	align-items: center;
	margin: var(--spacing-small) 0;
}

.formLabelText {
	width: 40px;
	text-align: left;
}

.formInput {
	width: 250px;
	max-width: 100%;
}

.formSubmitButton {
	margin-top: var(--spacing-small);
}
