// stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix

.nodeTitle {
	display: -webkit-box;
	height: 2.5em;
	margin-top: 10px;
	overflow: hidden;
	font-weight: var(--font-weight-bold);
	text-align: center;
	-webkit-line-clamp: 2; // Split long titles and display ellipsis
	-webkit-box-orient: vertical;
}
