@import "../../assets/styles/mixins";

.footer {
  padding: calc(var(--spacing-medium) / 2);

  @include small-screens {
    text-align: center;
  }

  @include large-screens {
    text-align: right;
  }
}

.footerButton {
  color: var(--color-background-button);
  filter: drop-shadow(var(--box-shadow-small));
  transition: filter var(--transition-duration);

  &:hover {
    filter: drop-shadow(var(--box-shadow-small-hover));
  }

  &:disabled {
    color: var(--color-background-button-disabled);
    filter: none;
  }
}

.footerButton + .footerButton {
  margin-left: var(--spacing-small);
}

.footerButtonIcon {
  width: var(--button-size);
  height: var(--button-size);
}
