.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-size);
  margin-bottom: var(--spacing-large);
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-size);
  height: var(--button-size);
  margin-right: 10px;
  padding: 0;
  color: var(--color-text-button);
  background: var(--color-background-button);
  border-radius: 50%; // Circle
  filter: drop-shadow(var(--box-shadow-small));
  transition: filter var(--transition-duration);

  &:hover {
    filter: drop-shadow(var(--box-shadow-small-hover));
  }
}

.backIcon {
  width: calc(var(--button-size) / 2);
}
